doctype html
html
    head
        title Sport News
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') Sport News
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div#navbarNav.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/")
                            | Home 
                            span.sr-only (current)
                    if user
                        li.nav-item
                            a.nav-link(href="/articles/add") Add Article
                ul.navbar-nav
                    if user
                        li.nav-item
                            a.nav-link(href='/users/logout') logout
                    else 
                        li.nav-item
                            a.nav-link(href='/users/register') Register
                        li.nav-item
                            a.nav-link(href='/users/login') Login
        .container
            br
            != messages('message', locals)
            if errors
                each error, i in errors
                    div.alert.alert-danger #{error.msg}
            block content
            br
            hr
            footer
                p Rawit Panjaroen | Copyright &copy; 2018

        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/js/main.js")
